# Folders
_site/
public/
.quarto/
# _extensions/
!extensions.json


# Quarto local environment vars
_*.local
.env
*.env
.vscode/settings.json


# Common Binary Files
*.png
*.jpg
*.jpeg
*.webp
*.gif
*.pdf
*.docx
*.xlsx
*.pptx

# Fonts

/.quarto/

# Firebase
*.cache
/_*.local

/.luarc.json
