# Folders
_site/
public/
# _extensions/
.quarto/
.vscode/

# Quarto local environment vars
/_*.local
.env


# Common Binary Files
*.png
*.jpg
*.jpeg
*.webp
*.gif
*.pdf
*.docx
*.xlsx
*.pptx

# Fonts

/.quarto/

# Firebase
*.cache